*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.navigation{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: url(img9.jpg);
    font-family: 'Merriweather', serif;
    border: 2px solid black; ;
}
.page .home .txt2 {
    font-size: 20px;
    color: black;
    font-family: 'Merriweather', serif;
    justify-content: center;
    margin: 40px 0px;
    font-weight: 300;
}
.page .home .txt1{
    font-size: 6rem;
    font-weight: 600;
    color: black;
    font-family: 'Merriweather', serif;
    justify-content: center;
}
.navigation ul{
    display:flex;
    list-style-type: none;
    margin: 30px 10px;  
}
.navigation ul li{
    text-decoration-color:black;
    font-weight: bold;
    font-size: large;
}
.navigation ul li a{
    color: black;
    padding: 15px 35px;
}
.navigation ul li a:hover {
    background-color: black;
    color:orange;
}
.navigation .logo a{
    font-size: x-large;
    font-weight: bold;
    color: black;
    padding: 15px 35px;
    margin: 30px 10px; 
    font-family:'Merriweather', serif;
    font-style:inherit;

}
.navigation .logo a:hover{
    background-color: black;
    color:orange;
}
.page {
    display: flex;
    flex-direction: column;
    height: 840px;
    justify-content: center;

}
.page::before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid black;
    background: url(img4.jpg);
    background-repeat: no-repeat center center/cover;
    height: 900px;
    width:100%;
    z-index: -1;
    opacity: .6;
}
.pp{
    font-size: 25px;
    font-weight:500;
    font-style: italic;
    color: black;
}
.home{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    position:absolute;
    top: 30%;
    right: 10%;
}
#starthere{
    font-size: 25px;
    font-weight:lighter;
    color: black;
}
#starthere a {
    display: inline-block;
    background: transparent;
    font-size: 15px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid black;
    transition: all 0.3s ease;
    color:black;
}
#starthere a:hover{
    background-color:black;
    color: orange;
}
/*about section*/
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    background: url(img9.jpg);
    background-repeat: no-repeat center center/cover;
}
#img1{
    display: flex;
}
#img1 img{
    width: 600px;
    height: 550px;
}
#I_about{
    display:flex;
    flex-direction: column;
    text-align: justify;
    padding: 15px;
}
#I_about h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
#starthere{
    margin-top: 20px;
    font-size: large;
}
#I_about ul{
    list-style-type: none;
    margin: 30px 10px;  
}
#I_about ul li{
    text-decoration-color:black;
    font-weight: bold;
    font-size: large;
}
#I_about ul li a{
    padding: 15px 35px;
}
#I_about ul li a:link{
    color: red;
}
#I_about ul li a:visited{
    color:green;
}
#I_about ul li a:hover{
    color: black;
}
#I_about ul li a:active{
    color:blue;
}
.aboutme{
    background: url(img9.jpg);
    width: 100%;
    height:900px;
}
.aboutme table{
    border-collapse:collapse;
    width: 100%;
    margin-top: 30px;
}
.aboutme td,th{
    border: 2px solid black;
    text-align:center;
    padding: 10px;
    font-size:larger
}
.aboutme tr{
    font-size: medium;
}
#pp1{
    color: black;
    font-size:x-large;
    font-style: italic;
    font-weight: 300;
}
.twitter-icon,
.facebook-icon,
.instagram-icon{
    margin-top: .625em;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}
 .social-wrapper {
    text-align: center;
}
.social-wrapper ul li {
    display: inline;
    margin: 0 5px;
}
.footer{
    border: 2px solid black;
    margin-top: 0;
}
.contact{
    background: url(img9.jpg);
    justify-content: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10%;
}